body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
}

header {
  background-color: yellowgreen;
  color: black;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

.hero {
  text-align: center;
  padding: 100px 0;
  background-color: rgb(200, 228, 239);
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: rgb(216, 99, 57);
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



footer {
  text-align: center;
  padding: 20px;
  background-color: orange;
  color: white;
}
